// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Archivos css
@import 'components/header_login';

@font-face {
    font-family: 'varelaround';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/varelaround/VARELAROUND-REGULAR.TTF");
}

body{
    font-family: 'varelaround';
    background-color: #FFFFFF;
    counter-reset: my-sec-counter;
    font-size: 0.8rem;
    //margin: 0px 2px 0px 2px;
}

::-webkit-input-placeholder { font-size: 0.9rem; }

:-moz-placeholder { /* Firefox 18- */ font-size: 0.9rem; }

::-moz-placeholder { /* Firefox 19+ */ font-size: 0.9rem; }

:-ms-input-placeholder { font-size: 0.9rem; }

::-webkit-input-placeholder { font-size: 0.9rem; }

:-moz-placeholder { /* Firefox 18- */ font-size: 0.9rem; }

::-moz-placeholder { /* Firefox 19+ */ font-size: 0.9rem; }

:-ms-input-placeholder { font-size: 0.9rem; }

:focus::-webkit-input-placeholder{color:transparent;}

