$green-color: #abbe2e;
$orange-color: #d27827;
$abano-color: #f3edd1;
$darkblue-color: #37595a;
$red-color: #bc2128;

.img-header{
    background-image: url("/img/login/header_login.png");
    height: 155px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-mediclic{
    width: 100%;
    padding: 3% 5% 3% 5%;
}

.col-padding-header{
    padding: 0;
    margin: 4% 0% 5% 0%;
}

.btn-forgot{
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.btn-login > .btn-sm{
    padding: 0.25rem 0.5rem;
    background-color: $green-color;
    border-color: $green-color;
}


.padding-input-login > div{
    padding: 0% 3px 0% 3px;
}

#email::-webkit-input-placeholder{
    font-weight: bold;
}

#email::-moz-placeholder{
    font-weight: bold;
}

#password::-webkit-input-placeholder{
    font-weight: bold;
}

#password::-moz-placeholder{
    font-weight: bold;
}

.img-forgot{
    width: 7%;
}

.btn-forgot:hover{
    color: $green-color;
    text-decoration: none;
}

.d-block{
    margin: 0;
}

.img-inicio{
    background-image: url("/img/login/doctora_inicio.png");
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-footer > div{
    height: 10px;
}

.color-footer-1{
    background-color: $green-color;
}

.color-footer-2{
    background-color: $orange-color;
}

.color-footer-3{
    background-color: $abano-color;
}

.color-footer-4{
    background-color: $darkblue-color;
}

.color-footer-5{
    background-color: $red-color;
}

.img-logo-inicio{
    background-image: url("/img/login/logo_inicio.png");
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-registro{
    font-weight: bold;
    font-size: 2.3rem;
    padding-top: 6%;
}

.padding-row-register{
    padding-top: 2%;
}

.form-mediclic{
    width: 100%;
    height: calc(1em + 0.75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid #000000!important;
}

.form-mediclic:focus{
    outline: none;
}

.form-mediclic.position-relative input {
    padding-right: 32px;
}

.form-clear {
    align-items: center;
    background: #cecece;
    border-radius: 50%;
    bottom: 8px;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 24px;
    z-index: 10;
}

.form-text+.form-clear {
    bottom: calc(1rem + 18px);
}

.form-clear .material-icons {
    font-size: 16px;
    font-weight: 500;
}

.label-register{
    margin: 0;
}

.padding-register1{
    padding: 1% 2% 1% 2% !important;
}

.datepicker{
    border-radius: 0;
}

.padd-lbl-sexo{
    padding: 0% 0% 2% 0%;
}

.conf-lbl-terminos{
    font-size: 0.7rem;
    display: table-cell;
    padding: 6px 0px 6px 0px;
    width: 100%;
    vertical-align: middle !important;
}

.conf-text-terminos{
    font-size: 0.6rem;
    font-weight: bold;
}

.pad-row-terminos{
    padding-top: 4%;
}
